/* lato-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/lato-v24-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root{
  --clr-dark:#2a2a2a;
  --clr-light:#eaeaea;
  --clr-contrast: #eeeeee;
  --clr-footer: #aca5af;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: #f4f4f4;
  color: var(--clr-dark);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  line-height: 1.5em;
}

.logo-lc {
  display: block;
  margin-top: 3%;
  width: 80px;
  height: 80px;
}

a {
  text-decoration: none;
  color: var(--clr-dark);
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 1px;
  background-color: #7c6cff;
  transition: width 0.5s ease;
}

a:hover::after {
  width: 100%;
}

.scroll-top {
  position: fixed;
  bottom: 40px;
  right: 40px;

  font-size: 20px;
  color: var(--clr-dark);
  text-decoration: none;

  transition: color 0.5s ease, transform 0.5s ease;
}

.scroll-top:hover {
  color: var(#8E79D9);
  transform: translateY(-5px);
}

p{
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
}

h2{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
  line-height: 1.5em;
  padding: 1% 8%;
  margin-top: 3rem;
}

h3{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0.3rem;
  line-height: 1.5em;
  text-align: justify;
}

.section-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5% 8%;
  gap: 0.4rem;
  justify-content: flex-start;
}

/* ################################################################################# */

.focus {
    flex: 1 1 calc(33.333% - 1rem);
    min-width: 250px;
    max-width: 300px;

    padding: 1.5rem;
    border: 1px solid #2a2a2a;
    border-radius: 8px;

    display: flex;
    align-items: flex-start;

    transition: all 0.2s ease;
}

.focus:hover {
    border-color: #555;
    transform: translateY(-3px);
}

.focus p {
    margin: 0;
    text-align: left;
    line-height: 1.5;
    font-size: 0.9rem;
}

/* ################################################################################# */

/*Projects*/
.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5% 8%;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.img-box {
  flex: 1 1 calc(33.333% - 1rem);
  min-width: 300px;
  max-width: 500px;
}

.img-box img {
  display: block;
  margin: 0 auto; /* centra immagine */
}

.img-box figcaption {
  text-align: left; /* allinea a sinistra */
  font-size: 0.9em;
  color: #8E79D9;
  margin-top: 8px;
}

.img-box2{
  flex: 1 1 calc(33.333% - 1rem);
  min-width: 300px;
  max-width: 1000px;
}

.img-box img {
  width: 100%;
  height: auto;
  display: block;
  filter: grayscale(100%);
  transition: filter 1s ease;
}

.img-box2 img {
  width: 100%;
  height: auto;
  display: block;
  filter: grayscale(100%);
  transition: filter 1s ease;
}

.img-box img:hover {
  filter: grayscale(0%);
}

.img-box2 img:hover {
  filter: grayscale(0%);
}

#viewer {
  width: 500px;
  height: 500px;
}

/* ################################################################################# */

/* Digital independence */
.dig-ind-box{
  flex: 1 1 calc(33.333% - 1rem);
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dig-ind-box img{
  filter: grayscale(100%);
  width: auto;
  height: 40px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.95;
}

.dig-ind-box img:hover {
  transform: scale(1.20);
  opacity: 1;
}

.dig-ind-box p{
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 0.5rem;
}

/* ################################################################################# */

/* Section Ping me. */
.social-icons{
  width: 100%;
  padding: 1rem;
  transition: 0.3s;
}

.social-icons:hover {
  filter: invert(54%) sepia(24%) saturate(900%) hue-rotate(220deg);
}

/* ################################################################################# */

/* Footer */
footer{
  background-color: var(--clr-light);
  font-size: 0.9rem;
  padding: 0.5% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer_social{
  display: flex;
  max-width: 100%;
  justify-content: center;
}

#footer_logo {
  background-color: #111111d7;
  color: #8E79D9;
}